body {
    font-family: Arial, sans-serif;
  }
  .container {
    margin-right: auto;
    
    display: flex;
  }
  .container img {
    width: 100%;
  }
  .block {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #001dbe;
    background-color: #1100ab;
    margin: 30px;
  }
  .block2 {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px;
  }


  .news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
  }
  .news-image {
    width: 310px;
    height: 210px
  }
  .news-title {
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
  }
  .news-item {
    width: calc(50% - 10px);}


  .ppblok img{
    max-width: 160px;
    height: 90px;
    display: inline;
    padding-left: 3px;
  }
  .sidebar {
    margin-left: auto;
    width: 38%;
    padding: 20px;
    box-sizing: border-box;
  }
  .sidebar-element {
    margin-bottom: 20px;
    text-decoration: none;
  }
  .sidebar img {
    width: 90%;
    display: block;
    margin-bottom: 20px;
  }
  .events {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .event {
    width: 30%;
    margin-bottom: 20px;
    margin: auto;
  }
  .event img {
    width: 80%;
    height: 400px;
    display: block;
  }
  .header { height: 240px;
    color: rgb(0, 0, 0); padding: 10px; text-align: center; }  
  .header img {
    position: center center; 
    width: 350px;
  }

  .footer { 
    height: 600px;
    background-image: url(img/ring.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white; padding: 10px; 
    text-align: center; 
  }
  .footer p {
    
    padding-top: 60px;
    color: #c6c6c6;
  }
  .footer a {
    display: inline;
    margin: 40px;
    
  }
  .footer a img{
    height: 160px;
    margin-top: 60px;
    
  }
  .nav { text-align: center;
    background-color: #d5d5d5; padding: 10px; }
  .nav ul { list-style-type: none; margin: 0; padding: 0; }
  .nav ul li { display: inline; margin-right: 40px; }
  .nav ul li a { text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #000000; }

  .horizontal-line {
    width: 100%;
    border-top: 3px solid blue;
    margin: 0 0 0 0;
    padding: 0;
  }
  .background {
    background-image: url(img/kik.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
  
  }
  .content {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff;
  }
  .box {
    background-color: #d5d5d5;
    border-left: 4px solid blue;
    padding: 5px;
    margin: 10px 0;
  }
  .logos a img {
    
    height: 60px;
    width: 60px;
    border-radius: 1em;
    margin-top: 0;
    display: inline;
  }
  .news2_block {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background-color: #efefef;
    
  }
  .news2_block img {
    width: 210px;
    margin: 10px;
  }
  .news2_text {
    flex-grow: 1;
  }
  .news2_title {
    padding-right: 5px;
    font-size: 1.2em;
    margin: 4px;
  }
  .news2_title a {
    color: black; 
  }
  .news2_date {
    font-size: 0.75em; 
    color: #727272; 
    margin: 5px;
  }
  .news2_description {
    color: #4a4a4a;
    margin: 4px;
    padding-right: 10px;
    text-align: justify;
  }
  .table{
    border: 3px solid rgb(0, 13, 98);
  }
  .table, th, td {
    
    border: 3px solid rgb(0, 13, 98);
    border-collapse: collapse;
  }
  .th, td {
  text-align: center;
    padding: 5px;
    text-align: left;    
  }
  .reglam_block {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background-color: #efefef;
  }
  .reglam_block img {
    width: 50px;
    margin: 10px;
  }
  .reglam_title {
    color: #000000;
    padding-right: 5px;
    font-size: 1.2em;
    margin: 4px;}